<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Panel</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/admin/">Admin Panel</a>
        <div class="d-flex mx-5">
          <a class="nav-item btn btn-outline-success" href="/admin/add">add</a>
          <a class="nav-item mx-2 btn btn-secondary" href="/admin/logout"
            >logout</a
          >
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <!-- left column -->
        <div class="col-md-3">
          <div class="text-center text-primary">
            <h3>Edit Profile Carefully</h3>
          </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
          <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            any <strong>changes</strong> here will be permenant.
          </div>
          <h3>Personal info</h3>

          <form
            action="/admin/edit-user/<%= user._id %>"
            method="post"
            class="form-horizontal"
          >
            <div class="form-group">
              <label class="col-lg-3 control-label">Username:</label>
              <div class="col-lg-8">
                <input
                  class="form-control"
                  type="text"
                  name="username"
                  value="<%= user.username %>"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Password:</label>
              <div class="col-md-8">
                <input
                  class="form-control"
                  type="text"
                  name="password"
                  value="<%= user.password %>"
                />
              </div>
            </div>
            <div class="form-input mb-3 mt-3 w-25">
              <label class="input-group-text">role</label>
              <select class="form-select" id="role" name="role">
                <option value="<%= user.role %>" selected>
                  <%= user.role %>
                </option>
                <% if (user.role == "admin") { %>
                <option value="kine">Kine</option>
                <% } else { %>
                <option value="admin">Admin</option>
                <% } %>
              </select>
            </div>
<%
  var currentClubType = (user && user.clubType) ? user.clubType : "football";
  var sportsList = ["football", "handball", "basketball", "baseball", "volleyball", "rugby", "tennis", "golf", "swimming", "cricket", "hockey", "athletics", "cycling", "gymnastics", "eSports", "badminton", "tableTennis", "archery", "boxing", "wrestling", "karate", "sailing", "skiing", "fencing"];
%>

<div class="form-input mb-3 mt-3 w-25">
    <label class="input-group-text">Club Type</label>
    <select class="form-select" id="clubType" name="clubType">
        <option value="<%= currentClubType %>" selected>
            <%= currentClubType.charAt(0).toUpperCase() + currentClubType.slice(1) %> Club
        </option>
        
        <% sportsList.forEach(function(sport) { %>
            <% if (sport !== currentClubType) { %>
                <option value="<%= sport %>">
                    <%= sport.charAt(0).toUpperCase() + sport.slice(1) %> Club
                </option>
            <% } %>
        <% }) %>
    </select>
</div>


<% if (user.role != "admin") { %>
             <hr />
            <div class="row mb-3 text-secondary">
              <% for (let i = 0; i < 3; i++) { %>
              <h4><%= CATEGORIES[i] %> Passwords</h4>
              <div class="form-group mx-3">
                <% new Array(0, 1, 2, 3, 4, 5, 6).map((val) => { %>
                <label class="col-md-3 control-label"
                  >Password <%= val+1 %>:</label
                >
                <div class="col-md-8">
                  <input
                    class="form-control"
                    type="text"
                    name="<%= `${CATEGORIES[i]}_${val}` %>"
                    value="<%= user[`${CATEGORIES[i]}`][val] %>"
                  />
                  %>
                </div>
                <% }); %>
              </div>
              <% } %>
            </div>
            <% } %>
            
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input
                  type="submit"
                  class="btn btn-primary"
                  value="Save Changes"
                />
                <span></span>
                <input type="reset" class="btn btn-default" value="Cancel" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr />
  </body>
</html>
